fastapi
uvicorn
python-dotenv
python-jose[cryptography]
pypdf
python-multipart
requests
newspaper3k
beautifulsoup4
lxml_html_clean
groq
mysql-connector-python
passlib[bcrypt]
pydantic[email]
fastapi
uvicorn[standard]
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
mysql-connector-python
groq
pypdf
requests
beautifulsoup4
newspaper3k
lxml
pillow
gunicorn
